div .artists-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.2rem;
  padding: 1rem;
}

div .artists-list li {
  list-style: none;
  text-align: center;
  padding: 1rem;
}

div .artists-list li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

div .artists-list li .artist-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}