.foundAlbumsList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 300px;
    overflow-y: auto;
}

.foundAlbumsList .foundAlbumItem {
    background-color: var(--tracklist-background-color);
    color: var(--tracklist-text-color);
    margin: 0.5rem;
    border-radius: 15px;
}

.foundAlbumsList .foundAlbumItem img {
    width: 60px;
    height: auto;
    border-radius: 8px;
    justify-self: center;
}

.foundAlbumsList .foundAlbumItem button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 120px repeat(auto-fit,  minmax(20px, 0.5fr)); 
    justify-content: flex-start;
    padding: 0.5rem;
    gap: 0.5rem;
    color: var(--tracklist-text-color);
}

.foundAlbumsList .foundAlbumItem button h2{
    font-size: 0.9rem;
    color: var(--tracklist-text-color);
}

.foundAlbumsList .foundAlbumItem button h3{
    font-size: 0.8rem;
    color: var(--tracklist-text-color);
}

.foundAlbumsList .foundAlbumItem button p{
    color: var(--tracklist-text-color);
}

.foundAlbumsList .foundAlbumItem button a{
    color: var(--tracklist-text-color);
}


@media screen and (max-width: 600px) {
    
    .foundAlbumsList .foundAlbumItem button {
        display: block;
        padding: 1rem 0.5rem;
    }
    
}

